<h2>Questions for <%= Test.find_by(id: params[:test_id]).name %></h2>
<hr>
<div id="questionBody" test-id="<%= params[:test_id] %>" data-token="<%= form_authenticity_token %>" data-questions="<%= @questions.to_json(include: [:multiple_choice_options]) %>"></div>

<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#newQuestion">
  Add Question
</button>

<div class="modal fade" id="newQuestion" tabindex="-1" role="dialog" aria-labelledby="addQuestion" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Add a Question</h4>
      </div>
      <%= form_for :question, url: {controller: 'questions', action: 'create'}, remote: true, html: { id: 'new_question' } do |f| %>
        <div class="modal-body">
            <fieldset class="form-group">
              <%= f.label :text, 'Question', class: 'form-control-label' %>
              <%= f.text_field :text, class: 'form-control', placeholder: 'Question' %>
            </fieldset>

            <fieldset class="form-group">
              <%= f.label :question_type, class: 'form-control-label' %>
              <%= f.select :question_type, Question.question_types.to_a.map {|type| [type[0].humanize, type[0]] } %>
            </fieldset>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= f.submit 'Add', class: 'btn btn-primary', data: { disable_with: 'Create' } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- JS Element Resources for Loading Cards -->

<!-- Base Card -->
<div hidden class="card" id="base-card">
  <div class="card-header" name="question-type">
    <form name="delete-button" class="button_to" method="post" action="/tests/#/questions/#" data-remote="true"><input type="hidden" name="_method" value="delete"><input class="btn btn-danger float-xs-right" data-confirm="Are you sure?" type="submit" value="Delete"><input type="hidden" name="authenticity_token" value=""></form>
  </div>
  <div class="card-block">
    <blockquote class="blockquote" name="question-text">
    </blockquote>
    <p class="card-text">
    </p>
  </div>
</div>

<!-- Form for adding multiple choice option -->
<div hidden id="base-multiple-choice">
  <h5>Add Options</h5>
  <form class="add_option" action="/tests/#/questions/#/multiple_choice_options" accept-charset="UTF-8" data-remote="true" method="post"><input name="utf8" type="hidden" value="✓">
    <fieldset class="form-group">
      <label class="form-control-label" for="multiple_choice_option_text">Text</label>
      <input class="form-control" placeholder="Option" type="text" name="multiple_choice_option[text]" id="multiple_choice_option_text">
    </fieldset>

    <fieldset class="form-group">
      <label class="form-control-label" for="multiple_choice_option_correct">Correct</label>
      <input name="multiple_choice_option[correct]" type="hidden" value="0"><input class="form-check-inline" type="checkbox" value="1" name="multiple_choice_option[correct]" id="multiple_choice_option_correct">
    </fieldset>

    <input type="submit" name="commit" value="Add" class="btn btn-primary" data-disable-with="Create">
  </form>
</div>

<!-- List of Options for Multiple Choice Questions -->
<div hidden id="base-multiple-choice-list">
  <h4>Options</h4>
  <ul>
  </ul>
</div>

<!-- List item for Multiple Choice Questions -->
<li hidden id='option-item-base' class='my-1'><form name="delete-option" class="button_to form-inline" method="post" action="/tests/#/questions/#/multiple_choice_option/#" data-remote="true"><input type="hidden" name="_method" value="delete"><input class="btn btn-danger btn-sm float-xs-right" data-confirm="Are you sure?" type="submit" value="&times;"><input type="hidden" name="authenticity_token" value=""></form></li>
