<!DOCTYPE html>
<html>
  <head>
    <title>Testor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="navbar navbar-full navbar-dark bg-inverse mb-1">
      <div class="container">
        <nav>
          <div class="clearfix">
            <button class="navbar-toggler hidden-md-up float-xs-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"></button>
            <%= link_to 'Testor', root_path, class: 'navbar-brand hidden-md-up' %>
          </div>
          <div class="collapse navbar-toggleable-sm" id="navbarResponsive">
            <%= link_to 'Testor', root_path, class: 'navbar-brand hidden-sm-down' %>
            <ul class="nav navbar-nav">
              <div class="float-md-right">
                <% if user_signed_in? then %>
                  <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: 'nav-item nav-link' %>
                <% else %>
                  <%= link_to 'Log In', new_user_session_path, class: 'nav-item nav-link' %>
                  <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-item nav-link' %>
                <% end %>
              </div>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <%= value %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
